
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/
ENV/
env.bak/

.env
.env.local
.env.*.local

*.manifest
*.spec

*.log
*.sqlite3
*.db

*.so
*.dll
*.dylib

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/
.pytest_cache/
.coverage.*

.ipynb_checkpoints

.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py~

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

local_settings.py
